@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --color1: #ec4c8b;
  --color2: #fe5395;
  --color3: #cf4278;
  --stdPadd: 0.2rem;
  --imgHeight: 5rem;
  --padMobile: 15rem;
  @media screen and (max-width: 768px) {
    --padMobile: 0.2rem;
  }

}

body {
  font-size: 14px;
  font-family: Lato, fantasy;
  margin: auto;
  padding: 0.2rem var(--padMobile);
  background: var(--color1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lato, fantasy;
  color: #fff;
}

.nation {
  min-height: 100%;
  margin: auto;
}

.header-top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--stdPadd);
  padding-left: 0;
  background: var(--color1);
}

.header-back-btn {
  width: 1.3rem;
  border: none;
  font-size: 1.2rem;
  background: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-back-btn:active {
  background: red;
}

.header-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3rem;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color2);
  height: 7rem;
}

.header-image {
  height: var(--imgHeight);
  max-width: 100%;
  padding: var(--stdPadd);
  margin: auto;
  filter: opacity(0.3);
}

.header-location {
  background: var(--color2);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-stats {
  background: var(--color1);
  padding: var(--stdPadd);
}

.nation-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nation-item {
  position: relative;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: none;
  background: var(--color3);
}

.nation-item:active {
  transform: scale(1.1);
  z-index: 2;
}

.nation-item-img {
  max-width: 100%;
  height: var(--imgHeight);
  margin: auto;
  filter: opacity(0.2);
}

.nation-item-circle-right-arrow-icon {
  position: absolute;
  top: var(--stdPadd);
  right: var(--stdPadd);
  opacity: 0.8;
}

.nation-item-text {
  text-align: right;
}

.header-bolden {
  font-weight: bold;
}

/* NATION ROUTES */
.nation-route-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nation-route-item {
  height: 5rem;
  padding: var(--stdPadd);
  border: none;
  background: var(--color2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nation-route-item:nth-child(even) {
  background: var(--color3);
}

.nation-route-item-part2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.winners {
  padding: var(--stdPadd);
}
